.caljs-cal_div * {
	box-sizing:border-box;
	user-select:none;
	font-family:Helvetica, monospace;
}
.caljs-cal_div {
	background-color:#D0D0D0;
	border:1px solid #494949;
	float:left;
	padding:0 15px 15px;
	position:absolute;
}
.caljs-cal_div table {
	border-collapse:collapse;
	float:left;
	margin-right:20px;
}
.caljs-cal_div table:last-of-type {
	margin-right:0;
}
.caljs-cal_div h4 {
	text-align:center;
	margin:8px 0;
}
.caljs-cal_div td {
	padding-left:4px;
	padding-right:4px;
	border:1px solid #6D6D6D;
}
.caljs-cal_div td:hover .caljs-days {
	border-bottom:2px solid #004EFF;
}
.caljs-active, .caljs-back_arrow, .caljs-forward_arrow {
	cursor:pointer;
}
.caljs-back_arrow {
	float:left;
}
.caljs-forward_arrow {
	float:right;
}
.caljs-days, .caljs-inactive {
	padding:2px 4px;
	text-align:right;
	width:100%;
	height:25px;
	line-height:21px;
}
.caljs-inactive {
	color:#929292;
}
.caljs-today_highlight {
	border-bottom:2px solid #FFFF00;
}
.caljs-selected_date {
	background-color:rgba(0, 23, 204, 0.42);
}
.caljs-shortcuts {
	padding-top:10px;
}
.caljs-shortcuts_title {
	font-size:.9em;
	padding-bottom:3px;
}
.caljs-shortcuts span:hover {
	border-bottom:2px solid #004EFF;
}
.caljs-shortcuts span {
	font-size:.7em;
	cursor:pointer;
	height:15px;
	margin-right:8px;
	float:left;
	color:#0A3DE6;
}
.caljs-this_week {
	clear:left;
}
.caljs-clear {
	float:right !important;
}
