.erajs-era_div * {
	box-sizing:border-box;
	user-select:none;
	font-family:Helvetica, monospace;
}
.erajs-era_div {
	background-color:#EFEFEF;
	border:1px solid #494949;
	float:left;
	padding:0 15px 15px;
	position:absolute;
	z-index:1;
}
.erajs-era_div table {
	border-collapse:collapse;
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}
.erajs-era_div table:last-of-type {
	margin-right:0;
}
.erajs-era_div h4 {
	text-align:center;
	margin:8px 0;
}
.erajs-era_div td {
	padding-left:4px;
	padding-right:4px;
	border:1px solid #6D6D6D;
}
.erajs-era_div td:hover .erajs-days {
	border-bottom:2px solid #004EFF;
}
.erajs-active, .erajs-back_arrow, .erajs-forward_arrow {
	cursor:pointer;
}
.erajs-back_arrow {
	float:left;
}
.erajs-forward_arrow {
	float:right;
}
.erajs-days, .erajs-inactive {
	padding:2px 4px;
	text-align:right;
	width:100%;
	height:25px;
	line-height:21px;
}
.erajs-inactive {
	color:#929292;
}
.erajs-today_highlight {
	border-bottom:2px solid #FFFF00;
}
.erajs-selected_date {
	background-color:rgba(0, 23, 204, 0.42);
}
/*.erajs-shortcuts {*/
	/*padding-top:10px;*/
/*}*/
.erajs-shortcuts_title {
	font-size:.9em;
	padding-bottom:3px;
}
.erajs-shortcuts span:hover {
	border-bottom:2px solid #004EFF;
}
.erajs-shortcuts span {
	font-size:.7em;
	cursor:pointer;
	height:15px;
	margin-right:8px;
	float:left;
	color:#0A3DE6;
}
.erajs-this_week {
	clear:left;
}
.erajs-clear {
	float:right !important;
}
